@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:light,regular,bold);
/* line 4, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 21, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 27, ../sass/screen.scss */
body.bp {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}
/* line 51, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1, body.bp h2, body.bp h3, body.bp h4, body.bp h5, body.bp h6 {
  font-weight: normal;
  color: #222222;
}
/* line 52, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1 img, body.bp h2 img, body.bp h3 img, body.bp h4 img, body.bp h5 img, body.bp h6 img {
  margin: 0;
}
/* line 53, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
/* line 54, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 55, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
/* line 56, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 57, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
/* line 58, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h6 {
  font-size: 1em;
  font-weight: bold;
}
/* line 59, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p {
  margin: 0 0 1.5em;
}
/* line 60, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p .left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 61, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p .right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
/* line 62, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp a {
  text-decoration: underline;
  color: #0066cc;
}
/* line 18, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body.bp a:visited {
  color: #004c99;
}
/* line 21, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body.bp a:focus {
  color: #0099ff;
}
/* line 24, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body.bp a:hover {
  color: #0099ff;
}
/* line 27, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body.bp a:active {
  color: #bf00ff;
}
/* line 63, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
/* line 64, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp strong, body.bp dfn {
  font-weight: bold;
}
/* line 65, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp em, body.bp dfn {
  font-style: italic;
}
/* line 66, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp sup, body.bp sub {
  line-height: 0;
}
/* line 67, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp abbr, body.bp acronym {
  border-bottom: 1px dotted #666666;
}
/* line 68, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 69, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp del {
  color: #666666;
}
/* line 70, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 71, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp pre, body.bp code, body.bp tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
/* line 72, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp li ul, body.bp li ol {
  margin: 0;
}
/* line 73, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ul, body.bp ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}
/* line 74, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ul {
  list-style-type: disc;
}
/* line 75, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ol {
  list-style-type: decimal;
}
/* line 76, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dl {
  margin: 0 0 1.5em 0;
}
/* line 77, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dl dt {
  font-weight: bold;
}
/* line 78, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dd {
  margin-left: 1.5em;
}
/* line 79, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 80, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp th {
  font-weight: bold;
}
/* line 81, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp thead th {
  background: #c3d9ff;
}
/* line 82, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp th, body.bp td, body.bp caption {
  padding: 4px 10px 4px 5px;
}
/* line 85, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp table.striped tr:nth-child(even) td,
body.bp table tr.even td {
  background: #e5ecf9;
}
/* line 86, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp tfoot {
  font-style: italic;
}
/* line 87, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp caption {
  background: #eeeeee;
}
/* line 88, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp .quiet {
  color: #666666;
}
/* line 89, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp .loud {
  color: #111111;
}
/* line 9, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .clear {
  clear: both;
}
/* line 12, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .nowrap {
  white-space: nowrap;
}
/* line 16, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .clearfix {
  overflow: hidden;
  *zoom: 1;
}
/* line 18, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
/* line 22, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
/* line 26, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .first {
  margin-left: 0;
  padding-left: 0;
}
/* line 29, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .last {
  margin-right: 0;
  padding-right: 0;
}
/* line 32, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .top {
  margin-top: 0;
  padding-top: 0;
}
/* line 35, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 25, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_debug.scss */
body.bp .showgrid {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 0, 0, 0.5)), color-stop(5%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, 0% 50%, 920 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(100, 100, 225, 0.25)), color-stop(7.391%, rgba(100, 100, 225, 0.25)), color-stop(7.391%, rgba(0, 0, 0, 0)), color-stop(10%, rgba(0, 0, 0, 0)), color-stop(10%, rgba(100, 100, 225, 0.25)), color-stop(17.391%, rgba(100, 100, 225, 0.25)), color-stop(17.391%, rgba(0, 0, 0, 0)), color-stop(20%, rgba(0, 0, 0, 0)), color-stop(20%, rgba(100, 100, 225, 0.25)), color-stop(27.391%, rgba(100, 100, 225, 0.25)), color-stop(27.391%, rgba(0, 0, 0, 0)), color-stop(30%, rgba(0, 0, 0, 0)), color-stop(30%, rgba(100, 100, 225, 0.25)), color-stop(37.391%, rgba(100, 100, 225, 0.25)), color-stop(37.391%, rgba(0, 0, 0, 0)), color-stop(40%, rgba(0, 0, 0, 0)), color-stop(40%, rgba(100, 100, 225, 0.25)), color-stop(47.391%, rgba(100, 100, 225, 0.25)), color-stop(47.391%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(100, 100, 225, 0.25)), color-stop(57.391%, rgba(100, 100, 225, 0.25)), color-stop(57.391%, rgba(0, 0, 0, 0)), color-stop(60%, rgba(0, 0, 0, 0)), color-stop(60%, rgba(100, 100, 225, 0.25)), color-stop(67.391%, rgba(100, 100, 225, 0.25)), color-stop(67.391%, rgba(0, 0, 0, 0)), color-stop(70%, rgba(0, 0, 0, 0)), color-stop(70%, rgba(100, 100, 225, 0.25)), color-stop(77.391%, rgba(100, 100, 225, 0.25)), color-stop(77.391%, rgba(0, 0, 0, 0)), color-stop(80%, rgba(0, 0, 0, 0)), color-stop(80%, rgba(100, 100, 225, 0.25)), color-stop(87.391%, rgba(100, 100, 225, 0.25)), color-stop(87.391%, rgba(0, 0, 0, 0)), color-stop(90%, rgba(0, 0, 0, 0)), color-stop(90%, rgba(100, 100, 225, 0.25)), color-stop(97.391%, rgba(100, 100, 225, 0.25)), color-stop(97.391%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 68px, rgba(0, 0, 0, 0) 68px, rgba(0, 0, 0, 0) 92px, rgba(100, 100, 225, 0.25) 92px, rgba(100, 100, 225, 0.25) 160px, rgba(0, 0, 0, 0) 160px, rgba(0, 0, 0, 0) 184px, rgba(100, 100, 225, 0.25) 184px, rgba(100, 100, 225, 0.25) 252px, rgba(0, 0, 0, 0) 252px, rgba(0, 0, 0, 0) 276px, rgba(100, 100, 225, 0.25) 276px, rgba(100, 100, 225, 0.25) 344px, rgba(0, 0, 0, 0) 344px, rgba(0, 0, 0, 0) 368px, rgba(100, 100, 225, 0.25) 368px, rgba(100, 100, 225, 0.25) 436px, rgba(0, 0, 0, 0) 436px, rgba(0, 0, 0, 0) 460px, rgba(100, 100, 225, 0.25) 460px, rgba(100, 100, 225, 0.25) 528px, rgba(0, 0, 0, 0) 528px, rgba(0, 0, 0, 0) 552px, rgba(100, 100, 225, 0.25) 552px, rgba(100, 100, 225, 0.25) 620px, rgba(0, 0, 0, 0) 620px, rgba(0, 0, 0, 0) 644px, rgba(100, 100, 225, 0.25) 644px, rgba(100, 100, 225, 0.25) 712px, rgba(0, 0, 0, 0) 712px, rgba(0, 0, 0, 0) 736px, rgba(100, 100, 225, 0.25) 736px, rgba(100, 100, 225, 0.25) 804px, rgba(0, 0, 0, 0) 804px, rgba(0, 0, 0, 0) 828px, rgba(100, 100, 225, 0.25) 828px, rgba(100, 100, 225, 0.25) 896px, rgba(0, 0, 0, 0) 896px, rgba(0, 0, 0, 0) 920px);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 68px, rgba(0, 0, 0, 0) 68px, rgba(0, 0, 0, 0) 92px, rgba(100, 100, 225, 0.25) 92px, rgba(100, 100, 225, 0.25) 160px, rgba(0, 0, 0, 0) 160px, rgba(0, 0, 0, 0) 184px, rgba(100, 100, 225, 0.25) 184px, rgba(100, 100, 225, 0.25) 252px, rgba(0, 0, 0, 0) 252px, rgba(0, 0, 0, 0) 276px, rgba(100, 100, 225, 0.25) 276px, rgba(100, 100, 225, 0.25) 344px, rgba(0, 0, 0, 0) 344px, rgba(0, 0, 0, 0) 368px, rgba(100, 100, 225, 0.25) 368px, rgba(100, 100, 225, 0.25) 436px, rgba(0, 0, 0, 0) 436px, rgba(0, 0, 0, 0) 460px, rgba(100, 100, 225, 0.25) 460px, rgba(100, 100, 225, 0.25) 528px, rgba(0, 0, 0, 0) 528px, rgba(0, 0, 0, 0) 552px, rgba(100, 100, 225, 0.25) 552px, rgba(100, 100, 225, 0.25) 620px, rgba(0, 0, 0, 0) 620px, rgba(0, 0, 0, 0) 644px, rgba(100, 100, 225, 0.25) 644px, rgba(100, 100, 225, 0.25) 712px, rgba(0, 0, 0, 0) 712px, rgba(0, 0, 0, 0) 736px, rgba(100, 100, 225, 0.25) 736px, rgba(100, 100, 225, 0.25) 804px, rgba(0, 0, 0, 0) 804px, rgba(0, 0, 0, 0) 828px, rgba(100, 100, 225, 0.25) 828px, rgba(100, 100, 225, 0.25) 896px, rgba(0, 0, 0, 0) 896px, rgba(0, 0, 0, 0) 920px);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -o-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 68px, rgba(0, 0, 0, 0) 68px, rgba(0, 0, 0, 0) 92px, rgba(100, 100, 225, 0.25) 92px, rgba(100, 100, 225, 0.25) 160px, rgba(0, 0, 0, 0) 160px, rgba(0, 0, 0, 0) 184px, rgba(100, 100, 225, 0.25) 184px, rgba(100, 100, 225, 0.25) 252px, rgba(0, 0, 0, 0) 252px, rgba(0, 0, 0, 0) 276px, rgba(100, 100, 225, 0.25) 276px, rgba(100, 100, 225, 0.25) 344px, rgba(0, 0, 0, 0) 344px, rgba(0, 0, 0, 0) 368px, rgba(100, 100, 225, 0.25) 368px, rgba(100, 100, 225, 0.25) 436px, rgba(0, 0, 0, 0) 436px, rgba(0, 0, 0, 0) 460px, rgba(100, 100, 225, 0.25) 460px, rgba(100, 100, 225, 0.25) 528px, rgba(0, 0, 0, 0) 528px, rgba(0, 0, 0, 0) 552px, rgba(100, 100, 225, 0.25) 552px, rgba(100, 100, 225, 0.25) 620px, rgba(0, 0, 0, 0) 620px, rgba(0, 0, 0, 0) 644px, rgba(100, 100, 225, 0.25) 644px, rgba(100, 100, 225, 0.25) 712px, rgba(0, 0, 0, 0) 712px, rgba(0, 0, 0, 0) 736px, rgba(100, 100, 225, 0.25) 736px, rgba(100, 100, 225, 0.25) 804px, rgba(0, 0, 0, 0) 804px, rgba(0, 0, 0, 0) 828px, rgba(100, 100, 225, 0.25) 828px, rgba(100, 100, 225, 0.25) 896px, rgba(0, 0, 0, 0) 896px, rgba(0, 0, 0, 0) 920px);
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 68px, rgba(0, 0, 0, 0) 68px, rgba(0, 0, 0, 0) 92px, rgba(100, 100, 225, 0.25) 92px, rgba(100, 100, 225, 0.25) 160px, rgba(0, 0, 0, 0) 160px, rgba(0, 0, 0, 0) 184px, rgba(100, 100, 225, 0.25) 184px, rgba(100, 100, 225, 0.25) 252px, rgba(0, 0, 0, 0) 252px, rgba(0, 0, 0, 0) 276px, rgba(100, 100, 225, 0.25) 276px, rgba(100, 100, 225, 0.25) 344px, rgba(0, 0, 0, 0) 344px, rgba(0, 0, 0, 0) 368px, rgba(100, 100, 225, 0.25) 368px, rgba(100, 100, 225, 0.25) 436px, rgba(0, 0, 0, 0) 436px, rgba(0, 0, 0, 0) 460px, rgba(100, 100, 225, 0.25) 460px, rgba(100, 100, 225, 0.25) 528px, rgba(0, 0, 0, 0) 528px, rgba(0, 0, 0, 0) 552px, rgba(100, 100, 225, 0.25) 552px, rgba(100, 100, 225, 0.25) 620px, rgba(0, 0, 0, 0) 620px, rgba(0, 0, 0, 0) 644px, rgba(100, 100, 225, 0.25) 644px, rgba(100, 100, 225, 0.25) 712px, rgba(0, 0, 0, 0) 712px, rgba(0, 0, 0, 0) 736px, rgba(100, 100, 225, 0.25) 736px, rgba(100, 100, 225, 0.25) 804px, rgba(0, 0, 0, 0) 804px, rgba(0, 0, 0, 0) 828px, rgba(100, 100, 225, 0.25) 828px, rgba(100, 100, 225, 0.25) 896px, rgba(0, 0, 0, 0) 896px, rgba(0, 0, 0, 0) 920px);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 68px, rgba(0, 0, 0, 0) 68px, rgba(0, 0, 0, 0) 92px, rgba(100, 100, 225, 0.25) 92px, rgba(100, 100, 225, 0.25) 160px, rgba(0, 0, 0, 0) 160px, rgba(0, 0, 0, 0) 184px, rgba(100, 100, 225, 0.25) 184px, rgba(100, 100, 225, 0.25) 252px, rgba(0, 0, 0, 0) 252px, rgba(0, 0, 0, 0) 276px, rgba(100, 100, 225, 0.25) 276px, rgba(100, 100, 225, 0.25) 344px, rgba(0, 0, 0, 0) 344px, rgba(0, 0, 0, 0) 368px, rgba(100, 100, 225, 0.25) 368px, rgba(100, 100, 225, 0.25) 436px, rgba(0, 0, 0, 0) 436px, rgba(0, 0, 0, 0) 460px, rgba(100, 100, 225, 0.25) 460px, rgba(100, 100, 225, 0.25) 528px, rgba(0, 0, 0, 0) 528px, rgba(0, 0, 0, 0) 552px, rgba(100, 100, 225, 0.25) 552px, rgba(100, 100, 225, 0.25) 620px, rgba(0, 0, 0, 0) 620px, rgba(0, 0, 0, 0) 644px, rgba(100, 100, 225, 0.25) 644px, rgba(100, 100, 225, 0.25) 712px, rgba(0, 0, 0, 0) 712px, rgba(0, 0, 0, 0) 736px, rgba(100, 100, 225, 0.25) 736px, rgba(100, 100, 225, 0.25) 804px, rgba(0, 0, 0, 0) 804px, rgba(0, 0, 0, 0) 828px, rgba(100, 100, 225, 0.25) 828px, rgba(100, 100, 225, 0.25) 896px, rgba(0, 0, 0, 0) 896px, rgba(0, 0, 0, 0) 920px);
  -moz-background-size: 100% 18px, auto;
  -webkit-background-size: 100% 18px, auto;
  -o-background-size: 100% 18px, auto;
  background-size: 100% 18px, auto;
  background-position: left top;
}
/* line 4, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .feedback, body.bp .error, body.bp .alert, body.bp .notice, body.bp .success, body.bp .info {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
}
/* line 5, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .error, body.bp .alert {
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 27, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .error a, body.bp .alert a {
  color: #8a1f11;
}
/* line 7, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .notice {
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 36, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .notice a {
  color: #514721;
}
/* line 8, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .success {
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 45, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .success a {
  color: #264409;
}
/* line 9, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .info {
  background: #d5edf8;
  color: #205791;
  border-color: #92cae4;
}
/* line 54, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .info a {
  color: #205791;
}
/* line 10, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .hide {
  display: none;
}
/* line 11, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .highlight {
  background: yellow;
}
/* line 12, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .added {
  background: #006600;
  color: white;
}
/* line 13, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .removed {
  background: #990000;
  color: white;
}
/* line 34, ../sass/screen.scss */
body.bp #container {
  width: 896px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 37, ../sass/screen.scss */
body.bp #header, body.bp #footer, body.bp #content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 896px;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.bp #header, * html body.bp #footer, * html body.bp #content {
  overflow-x: hidden;
}

/* line 18, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp label {
  font-weight: bold;
}
/* line 19, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 26, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.title {
  font-size: 1.5em;
}
/* line 29, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 30, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp select {
  margin: 0.5em 0;
}
/* line 55, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp fieldset {
  border: 1px solid #cccccc;
}
/* line 58, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password],
form.bp textarea {
  background-color: #fff;
  border: 1px solid #bbbbbb;
}
/* line 61, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text:focus, form.bp input.title:focus, form.bp input[type=email]:focus, form.bp input[type=text]:focus, form.bp input[type=password]:focus,
form.bp textarea:focus {
  border-color: #666666;
}
/* line 65, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp select {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
}
/* line 44, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  width: 300px;
}
/* line 46, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp textarea {
  width: 390px;
  height: 250px;
}
/* line 39, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.bp .box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5ecf9;
}
/* line 42, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.bp .border {
  padding-right: 11px;
  margin-right: 12px;
  border-right: 1px solid #dddddd;
}
/* line 45, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.bp .colborder {
  padding-right: 57px;
  margin-right: 58px;
  border-right: 1px solid #dddddd;
}
/* line 47, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.bp hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
}
/* line 49, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.bp hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
  background: white;
  color: white;
  visibility: hidden;
}
/* line 51, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.bp form.inline {
  line-height: 3;
}
/* line 6, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp form.inline p {
  margin-bottom: 0;
}

/* line 101, icon */
.icon-sprite, .icon-apple, .icon-gmail, .icon-hr, .icon-html5, .icon-korsar, .icon-landyachtz, .icon-powell, .icon-rails, .icon-signals, .icon-twitter, .icon-vans, .icon-xing, .icon-yukon {
  background: url('/images/icon-sa5666d8ffe.png') no-repeat;
}

/* line 60, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-apple {
  background-position: 0 -478px;
}

/* line 60, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-gmail {
  background-position: 0 -606px;
}

/* line 60, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-hr {
  background-position: 0 -384px;
}

/* line 60, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-html5 {
  background-position: 0 -734px;
}

/* line 60, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-korsar {
  background-position: 0 -670px;
}

/* line 60, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-landyachtz {
  background-position: 0 -128px;
}

/* line 60, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-powell {
  background-position: 0 -256px;
}

/* line 60, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-rails {
  background-position: 0 -64px;
}

/* line 60, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-signals {
  background-position: 0 -320px;
}

/* line 60, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-twitter {
  background-position: 0 -542px;
}

/* line 60, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-vans {
  background-position: 0 0;
}

/* line 60, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-xing {
  background-position: 0 -414px;
}

/* line 60, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-yukon {
  background-position: 0 -192px;
}

/* line 4, /Users/hschippmann/Work/hannes/sass/partials/_sprites.scss */
.icon-sprite, .icon-apple, .icon-gmail, .icon-hr, .icon-html5, .icon-korsar, .icon-landyachtz, .icon-powell, .icon-rails, .icon-signals, .icon-twitter, .icon-vans, .icon-xing, .icon-yukon {
  display: block;
  background-image: url("../images/icon-sa5666d8ffe.png");
  height: 64px;
}

/* line 9, /Users/hschippmann/Work/hannes/sass/partials/_sprites.scss */
.icon-hr {
  border: none;
  height: 30px;
  width: 150px;
}

/* line 14, /Users/hschippmann/Work/hannes/sass/partials/_sprites.scss */
.icon-apple {
  width: 52px;
}

/* line 17, /Users/hschippmann/Work/hannes/sass/partials/_sprites.scss */
.icon-gmail {
  width: 86px;
}

/* line 20, /Users/hschippmann/Work/hannes/sass/partials/_sprites.scss */
.icon-html5 {
  width: 64px;
}

/* line 23, /Users/hschippmann/Work/hannes/sass/partials/_sprites.scss */
.icon-korsar {
  width: 15px;
}

/* line 26, /Users/hschippmann/Work/hannes/sass/partials/_sprites.scss */
.icon-landyachtz {
  width: 61px;
}

/* line 29, /Users/hschippmann/Work/hannes/sass/partials/_sprites.scss */
.icon-powell {
  width: 53px;
}

/* line 32, /Users/hschippmann/Work/hannes/sass/partials/_sprites.scss */
.icon-rails {
  width: 50px;
}

/* line 35, /Users/hschippmann/Work/hannes/sass/partials/_sprites.scss */
.icon-signals {
  width: 64px;
}

/* line 38, /Users/hschippmann/Work/hannes/sass/partials/_sprites.scss */
.icon-twitter {
  width: 51px;
}

/* line 41, /Users/hschippmann/Work/hannes/sass/partials/_sprites.scss */
.icon-vans {
  width: 146px;
}

/* line 44, /Users/hschippmann/Work/hannes/sass/partials/_sprites.scss */
.icon-xing {
  width: 55px;
}

/* line 47, /Users/hschippmann/Work/hannes/sass/partials/_sprites.scss */
.icon-yukon {
  width: 83px;
}

/* Selection colours (easy to forget) */
/* line 3, /Users/hschippmann/Work/hannes/sass/partials/_styles.scss */
::selection {
  background: #ffff9e;
}

/* line 4, /Users/hschippmann/Work/hannes/sass/partials/_styles.scss */
::-moz-selection {
  background: #ffff9e;
}

/* line 5, /Users/hschippmann/Work/hannes/sass/partials/_styles.scss */
img::selection {
  background: transparent;
}

/* line 6, /Users/hschippmann/Work/hannes/sass/partials/_styles.scss */
img::-moz-selection {
  background: transparent;
}

/* line 7, /Users/hschippmann/Work/hannes/sass/partials/_styles.scss */
body {
  -webkit-tap-highlight-color: #ffff9e;
}

/* line 9, /Users/hschippmann/Work/hannes/sass/partials/_styles.scss */
body.bp {
  font-family: 'Josefin Sans', arial, serif;
  background: #eae3dd url(../images/background.jpg) repeat top left;
  color: #3c3c3c;
}
/* line 14, /Users/hschippmann/Work/hannes/sass/partials/_styles.scss */
body.bp h1 {
  font-size: 4.25em;
  letter-spacing: -1px;
  color: #333;
  font-weight: 700;
}
/* line 21, /Users/hschippmann/Work/hannes/sass/partials/_styles.scss */
body.bp h2 {
  font-size: 2.75em;
  color: #777;
  font-weight: 400;
}
/* line 27, /Users/hschippmann/Work/hannes/sass/partials/_styles.scss */
body.bp h3 {
  font-size: 2em;
  color: #777;
  font-weight: 400;
}
/* line 33, /Users/hschippmann/Work/hannes/sass/partials/_styles.scss */
body.bp h1, body.bp h2, body.bp h3 {
  text-shadow: rgba(255, 255, 255, 0.9) -1px -1px 0px;
}
/* line 37, /Users/hschippmann/Work/hannes/sass/partials/_styles.scss */
body.bp ul.icons {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 60, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body.bp ul.icons li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body.bp ul.icons li:first-child, body.bp ul.icons li.first {
  padding-left: 0;
}
/* line 49, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body.bp ul.icons li:last-child {
  padding-right: 0;
}
/* line 50, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body.bp ul.icons li.last {
  padding-right: 0;
}
/* line 39, /Users/hschippmann/Work/hannes/sass/partials/_styles.scss */
body.bp ul.icons li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}
/* line 48, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body.bp ul.icons li:first-child, body.bp ul.icons li.first {
  padding-left: 0;
}
/* line 49, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body.bp ul.icons li:last-child {
  padding-right: 0;
}
/* line 50, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body.bp ul.icons li.last {
  padding-right: 0;
}
/* line 42, /Users/hschippmann/Work/hannes/sass/partials/_styles.scss */
body.bp ul.icons li:hover {
  padding-top: 0px;
  padding-bottom: 10px;
}
/* line 48, /Users/hschippmann/Work/hannes/sass/partials/_styles.scss */
body.bp #header {
  margin-top: 75px;
}
/* line 50, /Users/hschippmann/Work/hannes/sass/partials/_styles.scss */
body.bp #header #me {
  display: inline;
  float: left;
  margin-right: 24px;
  width: 252px;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.bp #header #me {
  overflow-x: hidden;
}
/* line 53, /Users/hschippmann/Work/hannes/sass/partials/_styles.scss */
body.bp #header #me img {
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.9);
  border-left: 1px solid rgba(255, 255, 255, 0.9);
}
/* line 59, /Users/hschippmann/Work/hannes/sass/partials/_styles.scss */
body.bp #header #what {
  display: inline;
  float: left;
  margin-right: 0;
  width: 620px;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.bp #header #what {
  overflow-x: hidden;
}
/* line 61, /Users/hschippmann/Work/hannes/sass/partials/_styles.scss */
body.bp #header #what h1 {
  margin-top: 0.6em;
  margin-bottom: 0;
}
/* line 69, /Users/hschippmann/Work/hannes/sass/partials/_styles.scss */
body.bp #content h1, body.bp #content h2 {
  margin-top: 1.75em;
  margin-bottom: 0.25em;
}
/* line 74, /Users/hschippmann/Work/hannes/sass/partials/_styles.scss */
body.bp #content ul.icons li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 25px;
  padding-right: 25px;
}
/* line 48, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body.bp #content ul.icons li:first-child, body.bp #content ul.icons li.first {
  padding-left: 0;
}
/* line 49, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body.bp #content ul.icons li:last-child {
  padding-right: 0;
}
/* line 50, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body.bp #content ul.icons li.last {
  padding-right: 0;
}
/* line 79, /Users/hschippmann/Work/hannes/sass/partials/_styles.scss */
body.bp #content ul.projects {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  margin: 0;
  padding: 0;
  margin-left: 58px;
  margin-top: 32px;
}
/* line 60, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body.bp #content ul.projects li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body.bp #content ul.projects li:first-child, body.bp #content ul.projects li.first {
  padding-left: 0;
}
/* line 49, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body.bp #content ul.projects li:last-child {
  padding-right: 0;
}
/* line 50, /Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body.bp #content ul.projects li.last {
  padding-right: 0;
}
/* line 86, /Users/hschippmann/Work/hannes/sass/partials/_styles.scss */
body.bp #content ul.projects li {
  width: 252px;
  padding: 0;
  padding-right: 24px;
  margin-bottom: 48px;
}
/* line 92, /Users/hschippmann/Work/hannes/sass/partials/_styles.scss */
body.bp #content ul.projects li img {
  float: left;
  margin-right: 10px;
}
/* line 96, /Users/hschippmann/Work/hannes/sass/partials/_styles.scss */
body.bp #content ul.projects li h3 {
  margin-top: 2px;
  margin-bottom: 0.5em;
}
/* line 100, /Users/hschippmann/Work/hannes/sass/partials/_styles.scss */
body.bp #content ul.projects li p {
  white-space: normal;
  margin-bottom: 1em;
  line-height: 1.2em;
}
/* line 109, /Users/hschippmann/Work/hannes/sass/partials/_styles.scss */
body.bp #footer {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 100px;
}
/* line 111, /Users/hschippmann/Work/hannes/sass/partials/_styles.scss */
body.bp #footer hr {
  margin-bottom: 10px;
}
